# --- Admin Panel Branding ---
ADMIN_SITE_TITLE=BonaFide55 Admin
ADMIN_SITE_HEADER=BonaFide55
ADMIN_SITE_BRAND=BonaFide55
ADMIN_WELCOME_SIGN=Добро пожаловать в BonaFide55
ADMIN_COPYRIGHT=BonaFide55 Ltd
