{% extends "admin/change_list.html" %}

{% block object-tools %}
<div class="object-tools flex items-center">
    {% block object-tools-items %}
    <div class="flex flex-row items-center mr-2">
        <a href="import-json/" title="Импорт JSON"
            class="bg-white border border-base-200 flex flex-shrink-0 items-center h-9 justify-center -my-1 rounded-full w-9 hover:text-primary-600 dark:bg-base-900 dark:border-base-700 dark:hover:text-primary-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="h-5 w-5 text-gray-500 group-hover:text-primary-600 dark:text-gray-400 dark:group-hover:text-primary-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
            </svg>
        </a>
    </div>
    {{ block.super }}
    {% endblock %}
</div>
{% endblock %}